<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node server API test page</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->

    <!-- SPELLS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">

        <button type="button" name="Test single GET API" ng-click="singleGet()">Single Get Test</button>
        <button type="button" name="Test multiple-photo single-user API" ng-click="multiGet('single')">Multi Get (Single User) Test</button>
        <button type="button" name="Test multiple-photo single-user API" ng-click="multiGet('multi')">Multi Get (Multiple User) Test</button>
        <button type="button" name="Test single POST API" ng-click="singlePost()">Single Post Test</button>
        <button type="button" name="Test single PUT API" ng-click="singlePut()">Single Put Test</button>
        <button type="button" name="Test single DELETE API" ng-click="singleDelete()">Single Delete Test</button>

    </div>
</body>
</html>